@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/* color palette
dark gray #202425
white #fbfbfb
pale green #cbd39d
dark green #45581c
tan #dba274 */


* {
    font-family: Raleway;
    font-size: 16px;
    color: #202425;
    background-color: #fbfbfb;
}

header {
    display: flex;
    font-weight: 600;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

button:hover {
    cursor: pointer;
}

p {
    line-height: 1.5rem;
}

nav {
    padding-right: 1rem;
}

nav a {
    font-size: 18px;
    font-weight: lighter;
}

header a {
    text-decoration: none;
    padding: 0 10px 0 10px;
}

header button {
    padding: 5px 25px;
    border-radius: 40px;
    border: none;
    background-color: #2024259c;
    color: #fbfbfb;
    font-size: 18px;
}

header h1 {
    font-weight: bolder;
    justify-content: flex-start;
    font-size: 50px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    align-items: center;
}

.hero img {
    max-height: 500px;
}

.hero-left {
    flex: 60%;
    padding-left: 3rem;
    padding-right: 12rem;
}

.hero-right {
    flex: 40%;
}

.hero h1 {
    font-size: 30px;
    padding-bottom: 1rem;
}

